.br1s1{
    position: absolute;
    width: 946px;
    height: 353px;
    left: calc(50% - 946px/2 - 396px);
    top: 600px;
    background: #D9D9D9;
    border-radius: 74px;
}
.br1t1{
    position: absolute;
    width: 667px;
    height: 222px;
    left: calc(50% - 667px/2 - 299.5px);
    top: 601px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}
.br1b1{
    position: absolute;
    width: 235px;
    height: 55px;
    left: calc(50% - 235px/2 - 128.5px);
    top: 800px;
    background: #1A0328;
    border-radius: 30px;
}
.br1bt1{
    position: absolute;
    width: 191px;
    height: 50px;
    left: 515px;
    top: 777px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.br1bt1nr{
    position: absolute;
    width: 12.5px;
    height: 25px;
    left: 669px;
    top: 813px;
}