.brfback{
    position:relative;
    margin-left: 10vw;
    width:80%; /*60*/
    height:80%;
    padding-left: 20px; 
    padding-right: 20px;
    align-items: center;
    background: rgb(142, 114, 224,.1);
}

h3{
    text-align: center;
    padding: .5vw;
    margin-top: 2vw;
    
}

h2{
    text-align: center;
    margin-top: .5vw;
    color: purple;
    }


    


    


